In [0]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import warnings
from matplotlib.pyplot import figure 
from sklearn import cluster
from sklearn import metrics
from sklearn.preprocessing import scale
pd.set_option('display.precision',3)
warnings.filterwarnings('ignore')
pd.options.display.max_rows = 300
pd.options.display.float_format = '{:20,.2f}'.format

In [0]:
#### Replaceable code ##### 
# df1=pd.read_csv('cf-results1.csv')
# df2=pd.read_csv('orig-results1.csv')

In [0]:
######## The code below is mainly used for executing in google colabs - pls replace the google colabs code with the commented code above if required###########

##### Start of google colabs code ############
from google.colab import drive
drive.mount('/content/drive')

In [0]:
## Upload cf-results1.csv file ##
from google.colab import files

uploaded = files.upload()

In [0]:
uploaded

In [0]:
import pandas as pd
import io
df1 = pd.read_csv(io.StringIO(uploaded['cf-results1.csv'].decode('utf-8')))
print(df1)

In [0]:
df1.columns

In [0]:
## Upload orig-results1.csv file ##
uploaded2 = files.upload()

In [0]:
uploaded2

In [0]:
import pandas as pd
import io
df2 = pd.read_csv(io.StringIO(uploaded2['orig-results1.csv'].decode('utf-8')))
print(df2)

In [0]:
## End of google colabs code ####

In [0]:
df1=df1.iloc[:, [5,6,11,12,13,14,15,16,18,20,21]]
df1

In [0]:
df2=df2.iloc[:, [5,6,11,14,15,16,17,18,19,20,21]]
df2

In [0]:
columnsTitles = [	'EDUCATION',	'GLASSES',	'mental',	'physical',	'temp',	'perf',	'effort',	'frust',	'TREL',	'urel',	'time']
df2 = df2.reindex(columns=columnsTitles)

In [0]:
df2

In [0]:
df = pd.concat([df1,df2])
df= df.reset_index(drop=True)
df

In [0]:
df.loc[df['TREL'] == df['urel'], 'rate'] = 1
df.loc[df['TREL'] != df['urel'], 'rate'] = 0

In [0]:
df.head()

In [0]:
df_null=df.isnull().T.sum() #checking the rows with max NAN values
df_null=df_null.reset_index(name='val')
df_null

In [0]:
df_null.index[df_null['val'] > 0 ].tolist()

In [0]:
df= df.drop([6996,6997,6998, 6999,7000, 7001, 7002, 7003, 7004, 7005, 7006,7007, 7008, 7009, 7010, 7011, 7012, 7013, 7014, 7015, 7016, 7017, 7018, 7019, 7020, 7021, 7022, 7023, 7024, 7025, 7026, 7027, 7028, 7029, 7030, 7031, 7032, 7033, 7034, 7035, 7036, 7037, 7038, 7039, 7040, 7041, 7042, 7043, 7044, 7045, 7046, 7047, 7048, 7049, 7050, 7051, 7052, 7053, 7054, 7055, 7056, 7057,7058,7059,7060,7061,9300,9301,9302,9303,9304,9305])

In [0]:
df= df.reset_index(drop=True)
df.tail()

In [0]:
df.EDUCATION.describe()

In [0]:
df.EDUCATION.unique()

In [0]:
test= df.loc[df['EDUCATION'] == "pg"]
test

In [0]:
test.info()

In [0]:
test.loc[test['rate'] == 0].info()

In [0]:
###### Comparison of Rate ##########

In [0]:
test_mean=test.rate.mean()
test_mean

In [0]:
test1= df.loc[df['EDUCATION'] == "ug"]
test1_mean=test1.rate.mean()
test1_mean

In [0]:
test2= df.loc[df['EDUCATION'] == "staff"]
test2_mean=test2.rate.mean()
test2_mean

In [0]:
test3= df.loc[df['EDUCATION'] == "nodegree"]
test3_mean=test3.rate.mean()
test3_mean

In [0]:
status = ('pg', 'ug', 'staff', 'nodegree')
y_pos = np.arange(len(status))
vari1 = [test_mean, test1_mean, test2_mean, test3_mean]
plt.bar(y_pos, numbers, align='center', color='b')
plt.xticks(y_pos, status)
plt.ylabel('Mean')
plt.title('Comparison of rate for Image')
plt.show()

In [0]:
###### Comparison of Time ##########

In [0]:
Time= df.loc[df['EDUCATION'] == "pg"]
Time_mean=Time.time.mean()
Time_mean

In [0]:
Time1= df.loc[df['EDUCATION'] == "ug"]
Time1_mean=Time1.time.mean()
Time1_mean

In [0]:
Time2= df.loc[df['EDUCATION'] == "staff"]
Time2_mean=Time2.time.mean()
Time2_mean

In [0]:
Time3= df.loc[df['EDUCATION'] == "nodegree"]
Time3_mean=Time3.time.mean()
Time3_mean

In [0]:
status = ('pg', 'ug', 'staff', 'nodegree')
y_pos = np.arange(len(status))
vari1 = [Time_mean, Time1_mean, Time2_mean, Time3_mean]
plt.bar(y_pos, numbers, align='center', color='g')
plt.xticks(y_pos, status)
plt.ylabel('Mean')
plt.title('Comparison of time for Image')
plt.show()

In [0]:
Time1= df.loc[df['EDUCATION'] == "ug"]
Time1_mean=Time1.time.mean()
Time1_mean

In [0]:
Time1= df.loc[df['EDUCATION'] == "ug"]
Time1_mean=Time1.time.mean()
Time1_mean

In [0]:
Time1= df.loc[df['EDUCATION'] == "ug"]
Time1_mean=Time1.time.mean()
Time1_mean

In [0]:
Time1= df.loc[df['EDUCATION'] == "ug"]
Time1_mean=Time1.time.mean()
Time1_mean

In [0]:
var1= [Time_mean, Time1_mean, Time2_mean, Time3_mean]  # RED #  
var2= [test_mean, test1_mean, test2_mean, test3_mean] # BLUE #  
# CODE FROM: https://www.weirdgeek.com/2018/11/plotting-multiple-bar-graph/
x = np.arange(4)
fig = plt.figure(figsize=(15,10)) 
ax1 = fig.subplots()
w = 0.3
#plt.xticks(), will label the bars on x axis with the respective country names.
plt.xticks(x + w /2, ('pg', 'ug', 'staff', 'nodegree'), rotation='vertical')
pop =ax1.bar(x, var2, width=w, color='b', align='center')
#The trick is to use two different axes that share the same x axis, we have used ax1.twinx() method.
ax2 = ax1.twinx()
#We have calculated GDP by dividing gdpPerCapita to population.
gdp =ax2.bar(x + w, var1, width=w,color='g',align='center')
#Set the Y axis label as GDP.
plt.ylabel('Milliseconds (ms)')
#To set the legend on the plot we have used plt.legend()
plt.legend([pop, gdp],['precison rate', 'time'])
#To show the plot finally we have used plt.show().
plt.title('Comparison of time and rate for Image')
plt.show()

In [0]:
##### Comparison of user behaviours ###########

In [0]:
frust= df.loc[df['EDUCATION'] == "pg"]
frust_mean=frust.frust.mean()
print(frust_mean)

frust1= df.loc[df['EDUCATION'] == "ug"]
frust1_mean=frust1.frust.mean()
print(frust1_mean)

frust2= df.loc[df['EDUCATION'] == "staff"]
frust2_mean=frust2.frust.mean()
print(frust2_mean)

frust3= df.loc[df['EDUCATION'] == "nodegree"]
frust3_mean=frust3.frust.mean()
print(frust3_mean)

In [0]:
phy= df.loc[df['EDUCATION'] == "pg"]
phy_mean=phy.physical.mean()
print(phy_mean)

phy1= df.loc[df['EDUCATION'] == "ug"]
phy1_mean=phy1.physical.mean()
print(phy1_mean)

phy2= df.loc[df['EDUCATION'] == "staff"]
phy2_mean=phy2.physical.mean()
print(phy2_mean)

phy3= df.loc[df['EDUCATION'] == "nodegree"]
phy3_mean=phy3.physical.mean()
print(phy3_mean)

In [0]:
temp= df.loc[df['EDUCATION'] == "pg"]
temp_mean=temp.temp.mean()
print(temp_mean)

temp1= df.loc[df['EDUCATION'] == "ug"]
temp1_mean=temp1.temp.mean()
print(temp1_mean)

temp2= df.loc[df['EDUCATION'] == "staff"]
temp2_mean=temp2.temp.mean()
print(temp2_mean)

temp3= df.loc[df['EDUCATION'] == "nodegree"]
temp3_mean=temp3.temp.mean()
print(temp3_mean)

In [0]:
ment= df.loc[df['EDUCATION'] == "pg"]
ment_mean=ment.mental.mean()
print(ment_mean)

ment1= df.loc[df['EDUCATION'] == "ug"]
ment1_mean=ment1.mental.mean()
print(ment1_mean)

ment2= df.loc[df['EDUCATION'] == "staff"]
ment2_mean=ment2.mental.mean()
print(ment2_mean)

ment3= df.loc[df['EDUCATION'] == "nodegree"]
ment3_mean=ment3.mental.mean()
print(ment3_mean)

In [0]:
perf= df.loc[df['EDUCATION'] == "pg"]
perf_mean=perf.perf.mean()
print(perf_mean)

perf1= df.loc[df['EDUCATION'] == "ug"]
perf1_mean=perf1.perf.mean()
print(perf1_mean)

perf2= df.loc[df['EDUCATION'] == "staff"]
perf2_mean=perf2.perf.mean()
print(perf2_mean)

perf3= df.loc[df['EDUCATION'] == "nodegree"]
perf3_mean=perf3.perf.mean()
print(perf3_mean)

In [0]:
eff= df.loc[df['EDUCATION'] == "pg"]
eff_mean=eff.effort.mean()
print(eff_mean)

eff1= df.loc[df['EDUCATION'] == "ug"]
eff1_mean=eff1.effort.mean()
print(eff1_mean)

eff2= df.loc[df['EDUCATION'] == "staff"]
eff2_mean=eff2.effort.mean()
print(eff2_mean)

eff3= df.loc[df['EDUCATION'] == "nodegree"]
eff3_mean=eff3.effort.mean()
print(eff3_mean)

In [0]:
import matplotlib.pyplot as pyplot
status = ('pg', 'ug', 'staff', 'nodegree')
y_pos = np.arange(len(status))
vari1 = [frust_mean, frust1_mean, frust2_mean, frust3_mean]
vari2 = [phy_mean, phy1_mean, phy2_mean, phy3_mean]
vari3 = [temp_mean, temp1_mean, temp2_mean, temp3_mean]
vari4 = [ment_mean, ment1_mean, ment2_mean, ment3_mean]
fig = pyplot.figure(figsize=(20,10))
fig.suptitle('Bar Charts for behaviours', fontsize=16)
pyplot.subplot(221)
pyplot.bar(y_pos, vari1)
pyplot.xticks(y_pos, status)
pyplot.title('frust Bar Chart')
pyplot.xlabel('mean')
pyplot.ylabel('frust')
pyplot.subplot(222)
pyplot.bar(y_pos, vari2)
pyplot.xticks(y_pos, status)
pyplot.title('physical Bar Chart')
pyplot.xlabel('mean')
pyplot.ylabel('physical')
pyplot.subplot(223)
pyplot.bar(y_pos, vari3)
pyplot.xticks(y_pos, status)
pyplot.title('temp Bar Chart')
pyplot.xlabel('mean')
pyplot.ylabel('temp')
pyplot.subplot(224)
pyplot.bar(y_pos, vari4)
pyplot.xticks(y_pos, status)
pyplot.title('Mental Bar Chart')
pyplot.xlabel('mean')
pyplot.ylabel('mental')

In [0]:
status = ('pg', 'ug', 'staff', 'nodegree')
y_pos = np.arange(len(status))
vari5 = [perf_mean, perf1_mean, perf2_mean, perf3_mean]
vari6 = [eff_mean, eff1_mean, eff2_mean, eff3_mean]
fig = pyplot.figure(figsize=(20,10))
pyplot.subplot(221)
pyplot.bar(y_pos, vari5)
pyplot.xticks(y_pos, status)
pyplot.title('perf Bar Chart')
pyplot.xlabel('mean')
pyplot.ylabel('perf')
pyplot.subplot(222)
pyplot.bar(y_pos, vari6)
pyplot.xticks(y_pos, status)
pyplot.title('effort Bar Chart')
pyplot.xlabel('mean')
pyplot.ylabel('perf')